body{
    margin: 0;
}
.image{
position: absolute;
top: 20%;
left: 16rem;
}

.down{
    background-color: blanchedalmond;
    height: 36.5rem;
    
}
.connect{
    position: absolute;
    top: 22rem;
    left: 14rem;
}
.log{
    color: rgb(242, 33, 179);
    position: absolute;
    top: 2rem;
    right: 13rem;
}

.hi{
    position: absolute;
    top: 6rem;
    right: 11.5rem;
}
.m{
    position: absolute;
    top: 8rem;
    right: 14rem;
}
.ma{
    position: absolute;
    top: 10rem;
    right: 6rem;
    width: 20rem;
}

.stu{
    position: absolute;
    top: 20rem;
    right: 13.5rem;
}
.l{
    position: absolute;
    top: 22rem;
    right: 14rem;
}
.ll{
    position: absolute;
    top: 24rem;
    right: 6rem;
    width: 20rem;
}
.btn1{
    position: absolute;
    top: 13rem;
    right: 6rem;
    width: 20rem;
}
.btn2{
    position: absolute;
    top: 27rem;
    right: 6rem;
    width: 20rem;
}